p.ulCreature{
    margin: auto;
}

.ulCreature{
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    padding: 2px;
}

.BoxCreatureCaptured{
    margin-bottom:20px;
    padding:20px;
    background-color:rgba(179, 155, 19, 0.829);
    border-color:rgb(0, 0, 0);
    border-radius: 10px;
    border:1px solid rgb(0, 0, 0);
    box-shadow:2px 2px 2px rgb(0, 0, 0);
    -webkit-box-shadow:2px 2px 2px rgb(0, 0, 0);
    margin-right:auto;
    margin-left:auto;
}

.hoverCreatureCaptured{
    display:none;
}