.healthBar{
    display:flex;
    float:left;
    background-color:darkgray;
    height:26px;
}

.healthNow{
    flex:auto;
    float:left;
    background:rgb(34,190,34);
}


.divimgEntite{
    display: flex;
}
.imgEntite{
    flex: auto;
    height:158px;
    width:158px;
}

.Arme{
    float:left;
    white-space:nowrap;
    height:20px;
    padding:3px;
    font-size:smaller;
}

.ArmureNom{
    float:left;
    white-space:nowrap;
    width:100%;
    background:rgba(247,232,25,0.555);
    font-size:smaller;
}

.Monster, .Personnage{
    display:flex;
    flex-direction:column;
    padding: 4px;
}

.valueEntite, .backgroundAttaque, .backgroundArmor, .healthNow{
    display:flex;
    flex-direction:row;
    align-items: center;
    color:white;
}

.imgAttaque, .imgArmor{
    width:22px;
    padding-right:4px;
}

.valueAttaque, .valueArmor{
    color:white;
}
.backgroundAttaque, .backgroundArmor{
    padding-left:4px;
    padding-right:8px;
    height:26px;
}

.backgroundAttaque{
    background-color:rgb(26, 90, 191);
}
.backgroundArmor{
    background-color:rgb(141, 23, 194);
}