.healthBar{
    display:flex;
    float:left;
    background-color:darkgray;
    height:26px;
    width:100%;
}

.healthNow{
    flex:auto;
    float:left;
    background:rgb(34,190,34);
}


.divimgEntite{
    display: flex;
}
.imgEntite{
    flex: auto;
    height:158px;
    width:158px;
}

.Arme, .ArmureNom{
    display:flex;
    font-size:small;
    height:100%;
    width: 100%;
    white-space:nowrap;
    align-items:center;
}

.Creature, .Personnage{
    display:flex;
    flex-direction:column;
    padding: 4px;
}
.valuePerso{
    display:flex;
    flex-direction:column;
}

.valueEntite{
    display:flex;
    flex-direction:row;
}

.imgAttaque, .imgArmor{
    width:22px;
    padding-right:4px;
}

.valueAttaque, .valueArmor{
    color:white;
}
.healthNow, .backgroundAttaque, .backgroundArmor{
    display:flex;
    flex-direction:row;
    align-items:center;
    height:26px;
    color:white;
}
.healthNow p, .backgroundAttaque p, .backgroundArmor p{
    padding-left:4px;
    padding-right:8px;
}

.backgroundAttaque{
    background-color:rgb(26, 90, 191);
}
.backgroundArmor{
    background-color:rgb(141, 23, 194);
}